@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  /* background-color: #f9fafb; */
  font-family: "Open sans", sans-serif;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  min-height: 100vh;
  margin: 0;
}

.mystyle {
  width: 100%;
  padding: 25px;
  height: 100px;
  background-color: rgb(167, 65, 28);
  color: white;
  font-size: 25px;
}
